* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: hidden;
    background-color: #454d66;
}

.body-popup {
    width: 25rem;
    height: 30rem;
    display: grid;
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 100%;
    border-radius: 10px;
}

.body-popup .header_container {
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-popup .seperator {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
    justify-self: center;
    width: 4rem;
    border: 1px solid white;
    opacity: .4;
    font-weight: 100;
}

.body-popup .btn_container {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-popup .btn_container button {
    width: 70%;
    height: 20%;
    background-color: #309975;
    opacity: .7;
    color: #EFEEB4;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 1s all ease;
}

.body-popup .btn_container button:hover {
    width: 72%;
    height: 22%;
    opacity: 1;
}

.body-popup .filter_container {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.body-popup .filter_container span {
    font-size: 1.4rem;
    color: white;
    opacity: .7;
}

.body-popup .filter_container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-popup .filter_container div input {
    border: none;
    outline: none;
    background-color: #309975;
    opacity: .8;
    border-radius: 2px;
    font-size: 2rem;
    height: 3rem;
    width: 5rem;
}

.body-popup .filter_container div span {
    font-size: 3rem;
    color: white;
}